<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Chemical Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" *ngIf="logeado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/lista-clientes">Clientes</a>
            <a class="dropdown-item" routerLink="/tipo-cuenta">Tipo de Cuenta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/transaccion">Transaccion</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="logeado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Movimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Transferencia</a>
            <a class="dropdown-item" href="#">Cheques</a>
            <a class="dropdown-item" href="#">Depoditos</a>
            <a class="dropdown-item" href="#">Pago de servicios</a>
            <a class="dropdown-item" routerLink="/simulador-credito">Prestamos</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="logeado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Estado de Cuenta Bancario</a>
            <a class="dropdown-item" href="#">Estado de cuenta de prestamo</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 nav-item dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0 nav-link dropdown-toggle" style="border-radius: 50%;" id="navbarDropdown"
          type="submit" *ngIf="logeado" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="cerrarSesion()">Salir</a>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0 " type="button" *ngIf="!logeado" (click)="login()">
          Iniciar sesión
        </button>
      </form>
    </div>
  </nav>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <div>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- Fin Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- fin Page wrapper  -->
    <!-- ============================================================== -->


  </div>