<br>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary float-right" (click)="nuevo()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="d-flex justify-content-center pt-2">
    <h2 class="text-primary">{{ 'MANTENIMIENTO DE CLIENTES' }}</h2>
  </div>
  <div class="d-flex justify-content-center">
    <h5>{{ 'Listado' }}</h5>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Estado Civil</th>
          <th>Identificacion</th>
          <th>Estado</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
            <td>{{i+1}}</td>
            <td>{{cliente.nombres}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.estadoCivil == 1 ? 'Soltero' : cliente.estadoCivil == 2 ? 'Casado' : cliente.estadoCivil == 3 ? 'Viudo' : 'Separado'}}</td>
            <td>{{cliente.identificacion}}</td>
            <td>{{cliente?.estado}}</td>
            <td>{{cliente?.email}}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="edicion(cliente.id)"><i class="fas fa-edit"></i></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>