<div class="container-fluid text-center">
  <div class="d-flex justify-content-center pt-2">
    <h2 class="text-primary">{{ 'CHEMICAL BANK' }}</h2>
  </div>
  <div class="d-flex justify-content-center">
    <h5>{{ 'Proyecto Final Analsis de sistemas 1' }}</h5>
  </div>
  <div class="d-flex justify-content-center">
    <h6>{{ 'Realizado por:' }}</h6>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">WILSON TORRES</h5>
      <p class="card-text">Estudiante de Ingenieria en Sistemas.</p>
      <p class="card-text">Carnè: 0910-08-17069.</p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MARVIN LEMEN</h5>
      <p class="card-text">Estudiante de Ingenieria en Sistemas.</p>
      <p class="card-text">Carnè: 090-17-99.</p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ESDRAS TECUM</h5>
      <p class="card-text">Estudiante de Ingenieria en Sistemas.</p>
      <p class="card-text">Carnè:  090-12-302.</p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">EDUARDO DE LEON</h5>
        <p class="card-text">Estudiante de Ingenieria en Sistemas.</p>
        <p class="card-text">Carnè:  090-11-284.</p>
    </div>
  </div>
</div>